  p {
    font-size: 6vw;
  }

.App-header {
  padding-left:1em;
  padding-top: 1em;
  padding-right: 1em;
  background: linear-gradient(121.89deg, #00B0DE 0.36%, #01AEDC 4.04%, #02ABDB 7.77%, #02ABDB 11.48%, #02ABDB 11.7%, #196EBD 100%);
  color: white;
  height: 100%;
}

.App-main {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left:1em;
  padding-top: 2em;
  padding-right: 1em;

  background: #F8FCFF;
}

.header-text {
  display: flex;
  justify-content: center;
  background: green;
  padding: 0 1em;
}

.header-text p {
  height: 1em;
  width: 100%;
  background: white;
}

.selector-city {
  padding: 0em 1em;
  padding-top: 1em;
  background: white;
  display: flex;
  justify-content: space-between;
}

.selector-city > p {
  height: 1em;
  margin-top: 0;
  width: 10%;
  background: black;
}

.selector {
  background: green;
  display: flex;
  width: 8%;
  justify-content: space-between;
  height: 1em;
}

.selector div {
  background: black;
  width: 1em;
  height: 1em;
}

.input-city {
  background: blue;
  display: flex;
  padding: 0 1em;
  padding-top: 1em;
}
.input-city p {
  height: 1em;
  margin-top: 0;
  width: 10%;
  background: black;
}

.date {
  background: white;
  display: flex;
  justify-content: space-between;
  padding: 1em 1em;
}

.date-to {
  background: red;
  display: flex;
  height: 1em;
  width: 49%;
}

.date-from {
  background: red;
  display: flex;
  width: 49%;
  height: 1em;  
}

.ticket-type {
  background: blue;
  display: flex;
  justify-content: space-between;
  padding: 1em 1em;
  margin-bottom: 2em;
}

.selector-ticket {
  background: black;
  width: 100%;
  height: 1em;
}

.find-tickets {
  background: #FF9241;
  border-radius: 4px;
  padding: 0.5em 0.5em;
  margin-bottom: 1em;
}

.find-tickets p {
  margin: 0;
  font-size: 1em;
}

.popular-flights {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
}

.popular-flights p{
  font-weight: bold;
  color: #4A4A4A;
}

.popular-city {
  width: 6em;
  height: 1em;
  background: black;
}

.travel-selector {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 4em;
}

.travel-slot {
  display: flex;
  flex-basis: 33%;
  justify-content: center;
  box-sizing: border-box;
}

.travel-item {
  box-sizing: border-box;
  background: #DADADA;
  display: flex;
  justify-content: center;
  width: 10%;
  box-sizing: border-box;
  border-radius: 2em;
  height: 13vw;
  width: 13vw;
  margin: 1em 0.5em;
}

.travel-item p {
    margin: 2em 0;
    color: #00ACE2;
  
}

.country-tickets {
  width: 100%;
}

.country-tickets > .flights:last-child {
  border: none;
}

.flights {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  border-bottom: 0.2em grey dashed;
  margin-bottom: 2em;
}

.country {
  display: flex;
}

.country-to {
  display: flex;
  justify-content: space-between;
}

.country-name {
  box-sizing: border-box;
}

.country-name p {
  text-align: left;
}

.country-cost {
  box-sizing: border-box;
}

.country-icon {
  box-sizing: border-box;
  background: #DADADA;
  display: flex;
  justify-content: center;
  width: 10%;
  border-radius: 2em;
  height: 1.5em;
  width: 1.5em;
  margin: 1em 0.5em 1em 0;
}

.country-from {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.country-from p{
  margin: 0.2em 0;
}

.adv-one {
  width: 70%;
}

.Special-offers {
  background: linear-gradient(107.04deg, #00B0DE 0%, #196EBD 100%);
  height: 100%;
  width: 100%;
  padding: 0 1em;
}

.Special-offers > p {
  color:white;
}

.offer-header {
  background: #CD2027;
  width: 100%;
  color:white;
  height: 20vw;
  display: flex;
  justify-content: left;
  align-items: center;
}

.offer-header > p {
  margin-left: 1em;
}

.offer-main {
  background: white;
}

.offer-main > div > p{
  margin-top: 0;
}

.offer-main button {
  color:red;
  background: white;
  border: 0.5vw red solid;
  border-radius: 0.5vw;
  width: 100%;
  height: 10vw;
}



/* npx create-react-app settings */
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
