
.logo {
    height: 2em;
    width: 2em;
    background: white;
    color:black;
    display: flex;
    justify-content: center;
    margin-bottom: 3em;
}



/* .App {
    text-align: center;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
  }
  
  
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  } */